@model IEnumerable<E2E.Models.Tables.System_Configurations>

@{
    Layout = null;
}
<div class="col-12">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "SaveConfig", @class = "was-validated", enctype = "multipath/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="card mb-5">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            @{
                                if (Model.FirstOrDefault().Configuration_Brand != null)
                                {
                                    <img alt="@Model.FirstOrDefault().Configuration_Brand" src="@Model.FirstOrDefault().Configuration_Brand" class=" img-fluid" />
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9 col-xl-10">
                        
                        <div class="row">
                            <div class="col-auto form-group">
                                <label for="fileImage"></label>
                                <input name="fileImage" id="fileImage" type="file" class="form-control-file" accept="image/*" />
                            </div>
                            <div class="col-12 form-group">
                                @Html.DisplayNameFor(m => m.Copyright)
                                @Html.TextBoxFor(m => Model.FirstOrDefault().Copyright, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                @Html.DisplayNameFor(m => m.Configuration_Point)
                                @Html.TextBoxFor(m => Model.FirstOrDefault().Configuration_Point, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                @Html.DisplayNameFor(m => m.SystemName)
                                @Html.TextBoxFor(m => Model.FirstOrDefault().SystemName, new { @class = "form-control" })
                            </div>


                        </div>
                    </div>

                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </div>

                </div>

            </div>


        </div>
    }

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover nowrap w-100">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.CreateDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Configuration_Brand)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.SystemName)

                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Copyright)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Configuration_Point)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Users.User_Code)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(i => item.CreateDateTime)
                            </td>
                            <td>
                                <img alt="  @Html.DisplayFor(i => item.Configuration_Brand)" src="  @Html.DisplayFor(i => item.Configuration_Brand)" class="logo" />
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.SystemName)

                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Copyright)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Configuration_Point)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Users.User_Code)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>