@model IEnumerable<E2E.Models.Views.ClsAuditReport>

@{ Layout = null; }

<div class="card shadow">
    <div class="card-header">
        <h5 class="card-title">Finished</h5>
    </div>
    <div class="card-body">
        <table class="display table table-bordered table-striped table-hover nowrap w-100">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(m => m.Create)</th>
                    <th>@Html.DisplayNameFor(m => m.Service_Subject)</th>
                    <th>@Html.DisplayNameFor(m => m.WorkRoots.WorkRoot_Name)</th>
                    <th>@Html.DisplayNameFor(m => m.User_Name)</th>
                    <th>@Html.DisplayNameFor(m => m.Update)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="fit"><input type="checkbox" id="@item.Service_Id" name="CheckService" value="@item.Service_Id" onchange="getCheckedVal($(this))" /></td>
                    <td class="fit">@Html.DisplayFor(m => item.Create)</td>
                    <td>
                        <small class="font-weight-bold">[@Html.DisplayFor(m => item.Service_Key)]</small><br />
                        @Html.DisplayFor(m => item.Service_Subject)
                    </td>
                    <td class="fit">@Html.DisplayFor(m => item.WorkRoots.WorkRoot_Name)</td>
                    <td class="fit">@Html.DisplayFor(m => item.User_Name)</td>
                    <td class="fit">@Html.DisplayFor(m => item.Update)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
