@model IEnumerable<E2E.Models.Tables.WorkRoots>
@{
    Layout = null;
}

<table class="table table-bordered table-hover nowrap w-100">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(m => m.Create)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Master_Sections.Section_Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.WorkRoot_Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(m => m.Users.User_Code)
                </th>*@
            <th>
                @Html.DisplayNameFor(m => m.Update)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="fit">
                <button id="Edits" onclick="callModal('@Url.Action("WorkRoot_Form", "Management", new { id = Html.ValueFor(m => item.WorkRoot_Id) })')" class="btn btn-outline-warning"><i class="fa fa-pencil"></i></button>
            </td>
            <td class="fit">
                @Html.DisplayFor(i => item.Create, new { @class = "form-control" })
            </td>
            <td class="fit">
                @Html.DisplayFor(i => item.Master_Sections.Section_Name)
            </td>
            <td>
                @Html.DisplayFor(i => item.WorkRoot_Name)
            </td>
            @*<td class="fit">
                    @Html.DisplayFor(i => item.Users.User_Code)
                </td>*@
            <td class="fit">
                @Html.DisplayFor(i => item.Update)
            </td>
        </tr>
        }
    </tbody>
</table>