@model E2E.Models.Views.ClsHome

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </nav>
}

<div class="row">
    <div class="col-12 col-lg-8 col-xl-9">
        <h5>Latest Topics</h5>
        <div class="list-group mb-5">
            @foreach (var item in Model.Topics)
            {

                <a href="@Url.Action("Boards_Form", "Topics", new { id = item.Topic_Id })" class="list-group-item list-group-item-action flex-column align-items-start">

                    <div class="d-flex w-100 justify-content-between">

                        <h5 class="mb-1">@item.Topic_Title</h5>
                        <small class="text-muted">@item.Create.ToString("d")</small>
                    </div>
                    @if (item.Topic_Content.Length > 200)
                    {
                        <small class="text-muted">@item.Topic_Content.Substring(0, 199)</small>
                    }
                    else
                    {
                        <small class="text-muted">@item.Topic_Content</small>
                    }
                </a>

            }
        </div>
        <h5>Latest E-Form</h5>
        <div class="list-group mb-5">
            @foreach (var item in Model.EForms)
            {

                <a href="@Url.Action("EForms_Content", "EForms", new { id = item.EForm_Id })" class="list-group-item list-group-item-action flex-column align-items-start">

                    <div class="d-flex w-100 justify-content-between">

                        <h5 class="mb-1">@item.EForm_Title</h5>

                        <small class="text-muted">@item.Create.ToString("d")</small>
                    </div>
                    @if (item.EForm_Description.Length > 200)
                    {
                        <small class="text-muted">@item.EForm_Description.Substring(0, 199)</small>
                    }
                    else
                    {
                        <small class="text-muted">@item.EForm_Description</small>
                    }
                </a>

            }
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="row" id="datalist">
            @{ Html.RenderAction("Manual_Table", "Home");}
        </div>
    </div>
</div>
