<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@ViewBag.Title - E2E Service</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-lg container-fluid">
            @{ Html.RenderAction("_NavbarBrand", "Configurations"); }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_top" aria-controls="navbar_top" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{ Html.RenderAction("_Navbar", "Configurations"); }
        </div>
    </nav>
    <div id="objSpin"></div>

    <div class="container-lg container-fluid bg-white py-3">
        @RenderSection("breadcrumb", required: false)
        @RenderBody()
    </div>

    <footer class="mt-3">
        <small>&copy; @DateTime.Now.Year - Thai Parkerizing</small>
    </footer>

    <div class="modal fade" id="modalArea" tabindex="-1" role="dialog" aria-labelledby="modalTitle" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" id="dialog">
            <div class="modal-content" id="modalContent">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @Scripts.Render("~/bundles/js")
    <script>
        var link_navService = '@Url.Action("_NavService", "Configurations")';
        var link_navDepartment = '@Url.Action("_NavDepartment", "Configurations")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>