
@{
    Layout = null;
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown_master" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Masters
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown_master">
        <a href="@Url.Action("LineWorks","Masters")" class="dropdown-item">Line of works</a>
        <a href="@Url.Action("Grades","Masters")" class="dropdown-item">Grades</a>
        <a href="@Url.Action("Plants","Masters")" class="dropdown-item">Plants</a>
        <a href="@Url.Action("Divisions","Masters")" class="dropdown-item">Divisions</a>
        <a href="@Url.Action("Departments","Masters")" class="dropdown-item">Departments</a>
        <a href="@Url.Action("Sections","Masters")" class="dropdown-item">Sections</a>
        <a href="@Url.Action("Processes","Masters")" class="dropdown-item">Processes</a>
        <a href="@Url.Action("Users","Masters")" class="dropdown-item">Users</a>
        <a href="@Url.Action("InquiryTopic","Masters")" class="dropdown-item">Inquiry topic</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index","Configurations")" >Configurations</a>
</li>