@model int

@{
    Layout = null;
}

<div class="collapse navbar-collapse" id="navbar_top">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Boards","Topics")">Topics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Services")" id="nav_service">@{ Html.RenderAction("_NavService", "Configurations"); }</a>
        </li>
        <li class="nav-item dropdown" id="nav_department">
            @{ Html.RenderAction("_NavDepartment", "Configurations"); }
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        @{
            if (Model == 1)
            {
                Html.RenderPartial("_NavbarAdmin");
            }
        }

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown_profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{ Html.RenderAction("_Profile", "Configurations"); }
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_profile">
                <a class="dropdown-item" href="@Url.Action("MyTask","Services")">My task</a>
                <a class="dropdown-item" href="@Url.Action("MyRequest","Services")">My request</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="SignoutNotify('@Url.Action("Signout","Users")');">Signout</a>
            </div>
        </li>
    </ul>
</div>