@model int

@{
    Layout = null;
}

    <nav class="vertical_nav shadow-lg" id="vl_nav">
        <ul id="js-menu" class="menu">

            <li class="menu--item">
                <a href="@Url.Action("Index","Home")" class="menu--link menu--label text-align">Home</a>
            </li>

            <li class="menu--item">
                <a href="@Url.Action("Boards","Topics")" class="menu--link menu--label text-align">Topic</a>
            </li>

            <li class="menu--item">
                <a href="@Url.Action("Index","Services")" class="menu--link menu--label text-align" id="nav_service">@{ Html.RenderAction("_NavService", "Configurations"); }</a>
            </li>

            @{
                if (Model == 1)
                {
                    Html.RenderPartial("_NavbarAdmin");
                }
            }

            <li class="menu--item  menu--item__has_sub_menu">
                <label class="menu--link" title="Department">
                    <span class="menu--label">Department</span>
                </label>

                <ul class="sub_menu">
                    <li class="sub_menu--item">
                        <a href="@Url.Action("AllTask","Services")" class="sub_menu--link ">All task</a>
                    </li>

                    <li class="sub_menu--item">
                        <a href="@Url.Action("AllRequest","Services")" class="sub_menu--link ">All request</a>
                    </li>
                    <li class="sub_menu--item">
                        <a href="@Url.Action("Approve","Services")" class="sub_menu--link ">Approve</a>
                    </li>
                </ul>
            </li>

            <li class="menu--item  menu--item__has_sub_menu">
                <label class="menu--link" title="@{ Html.RenderAction("_Profile", "Configurations"); }">
                    <span class="menu--label">@{ Html.RenderAction("_Profile", "Configurations"); }</span>
                </label>

                <ul class="sub_menu">
                    <li class="sub_menu--item">
                        <a href="@Url.Action("MyTask","Services")" class="sub_menu--link ">My task</a>
                    </li>
                    <li class="sub_menu--item">
                        <a href="@Url.Action("MyRequest","Services")" class="sub_menu--link ">My request</a>
                    </li>
                    <li class="sub_menu--item">
                        <a href="#" class="sub_menu--link " onclick="SignoutNotify('@Url.Action("Signout","Users")');">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>

        @*<button id="collapse_menu" class="collapse_menu" >
            <i class="collapse_menu--icon  fa fa-fw"></i>
            <span class="collapse_menu--label"></span>
        </button>*@
    </nav>
