@model int?

@{
    Layout = null;
}
<a class="nav-link dropdown-toggle" href="#" id="dropdown_department" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span>Department</span>
    @if (Model.HasValue)
    {
        if (Model > 0)
        {
            <span id="count" class="badge badge-pill badge-warning">@Model</span>
        }
    }
</a>
<div class="dropdown-menu" aria-labelledby="dropdown_department">
    <a class="dropdown-item" href="@Url.Action("AllTask","Services")">All task</a>
    <a class="dropdown-item" href="@Url.Action("AllRequest","Services")">All request</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="@Url.Action("Approve","Services")">
        <div class="d-flex justify-content-between align-items-center">
            <span>Approve</span>
            @if (Model.HasValue)
            {
                if (Model > 0)
                {
                    <span id="count" class="badge badge-pill badge-warning">@Model</span>
                }
            }
        </div>
    </a>
</div>