@model int

@{
    Layout = null;
}
<nav class="col-12 py-3 navbar navbar-light overflow-auto" id="menu">
    <ul class="navbar-nav w-100">
        <li class="nav-item">
            <a href="@Url.Action("Index","Home")" class="nav-link pl-3">Home</a>
        </li>
        <li class="nav-item">
            <h6>Topic</h6>
            <ul class="navbar-nav">
                <li class="nav-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("Index","Topics")" class="nav-link pl-3">Board</a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <h6>Service</h6>
            <ul class="navbar-nav">
                <li class="nav-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("Index","Services")" class="nav-link pl-3">Board</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Form","Services")" class="nav-link pl-3">Create</a>
                </li>
            </ul>
        </li>

        @{
            if (Model == 1)
            {
                Html.RenderPartial("_NavbarAdmin");
            }
        }

        <li class="nav-item">
            <h6>Department</h6>
            <ul class="navbar-nav">
                <li class="nav-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("AllTask","Departments")" class="nav-link pl-3">All task</a>
                </li>
                <li class="nav-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("AllRequest","Departments")" class="nav-link pl-3">All request</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <h6>@{ Html.RenderAction("_Profile", "Configurations"); }</h6>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="@Url.Action("MyTask","Profile")" class="nav-link pl-3">My task</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("MyRequest","Profile")" class="nav-link pl-3">My request</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link pl-3 text-danger" onclick="SignoutNotify('@Url.Action("Signout","Users")');">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

