
@{
    Layout = null;
}
<li class="nav-item">
    <h6 class="navbar-text">Masters</h6>
    <ul class="nav flex-column nav-pills flex-fill">
        <li class="nav-item ">
            <a href="@Url.Action("LineWorks","Masters")" class="nav-link pl-3">Line of works</a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Grades","Masters")" class="nav-link pl-3">Grades</a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Plants","Masters")" class="nav-link pl-3">Plants</a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Divisions","Masters")" class="nav-link pl-3">Divisions</a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Departments","Masters")" class="nav-link pl-3">Departments</a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Sections","Masters")" class="nav-link pl-3">Sections</a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Processes","Masters")" class="nav-link pl-3">Processes</a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Users","Masters")" class="nav-link pl-3">Users</a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <h6 class="navbar-text">System</h6>
    <ul class="nav flex-column nav-pills flex-fill">
        <li class="nav-item ">
            <a href="@Url.Action("Index","Configurations")" class="nav-link pl-3">Configurations</a>
        </li>
    </ul>
</li>
