@model int?

@{
    Layout = null;
}

<div class="collapse navbar-collapse" id="navbar_top">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Services")" id="nav_service">@{ Html.RenderAction("_NavService", "Configurations"); }</a>
        </li>

        <li class="nav-item dropdown" id="nav_department">
            @{ Html.RenderAction("_NavDepartment", "Configurations"); }
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a id="nav_Newtopic" class="nav-link" href="@Url.Action("Boards","Topics")">@{ Html.RenderAction("_Newtopic", "Topics"); } </a>
        </li>

        <li class="nav-item dropdown">
            @{ Html.RenderAction("_NavEForms", "Configurations"); }
            @*<a class="nav-link" href="@Url.Action("Index","EForms")">E-Forms</a>*@
        </li>

        @if (Model.HasValue)
        {
            if (Model.Value == 1)
            {
                Html.RenderPartial("_NavbarAdmin");
            }

            Html.RenderAction("_NavManagement", "Configurations");

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown_profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{ Html.RenderAction("_Profile", "Configurations"); }
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_profile">
                <a class="dropdown-item" href="@Url.Action("MyTask", "Services")">My task</a>
                <a class="dropdown-item" href="@Url.Action("MyRequest", "Services")">My request</a>
                <a class="dropdown-item" href="@Url.Action("RequestChangeDue", "Services")">Request change due date</a>
                <div class="dropdown-divider"></div>
                @{ Html.RenderAction("_ShowChangePassword", "Users"); }
                <a class="dropdown-item" href="#" onclick="notifySignout('@Url.Action("Signout", "Users")');">Signout</a>
            </div>
        </li>
        }
        else
        {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login","Users")">Login</a>
        </li>
        }
    </ul>
</div>