@model E2E.Models.Tables.ServiceComments

@{
    Layout = null;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "was-validated", id = "CommentForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Service_Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Comment_Content)
        @Html.TextAreaFor(m => m.Comment_Content, new { @class = "form-control" })
    </div>
    <div class="d-flex justify-content-between">
        <input type="file" class="form-control-file" id="commentFile" name="commentFile" multiple />
        <button type="submit" class="btn btn-primary">Comment</button>
    </div>

}