@model E2E.Models.Tables.Services

@{
    Layout = null;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "was-validated", id = "SaveForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        @{
            if (!string.IsNullOrEmpty(Model.Service_Key))
            {
                <h5 class="modal-title">@Model.Service_Key</h5>
            }
            else
            {
                <h5 class="modal-title">Form</h5>
            }
        }
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(m => m.Service_Id)
        @Html.HiddenFor(m => m.Service_Key)
        <dl class="row">
            <dt class="col-4">@Html.DisplayNameFor(m => m.Service_Subject)</dt>
            <dd class="col-8">@Html.DisplayFor(m => m.Service_Subject)</dd>
            <dt class="col-4">@Html.DisplayNameFor(m => m.Service_Description)</dt>
            <dd class="col-8">@Html.DisplayFor(m => m.Service_Description)</dd>
            <dt class="col-4">@Html.DisplayNameFor(m => m.Users.User_Code)</dt>
            <dd class="col-8">@Html.DisplayFor(m => m.Users.User_Code)</dd>
            <dt class="col-4">@Html.DisplayNameFor(m => m.System_Priorities.Priority_Name)</dt>
            <dd class="col-8"><span class="@Html.ValueFor(m => m.System_Priorities.Priority_Class)">@Html.DisplayFor(m => m.System_Priorities.Priority_Name)</span></dd>
            <dt class="col-4">@Html.DisplayNameFor(m => m.Service_DueDate)</dt>
            <dd class="col-8">@Html.DisplayFor(m => m.Service_DueDate)</dd>
            <dt class="col-4">@Html.LabelFor(m => m.Service_EstimateTime)</dt>
            <dd class="col-8">@Html.TextBoxFor(m => m.Service_EstimateTime, new { @class = "form-control", required = "required" })</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-window-close" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i></button>
    </div>

}