@model E2E.Models.Views.clsServices

@{
    ViewBag.Title = "Action";
}
@section scripts{
    <script src="~/Asset/Service.min.js"></script>
    <script>
        $(function () {
            setTable_File('#reqFiles', true, false);
            setDropdown_Form();
        });
    </script>
}
@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Services")">Service</a></li>
            <li class="breadcrumb-item active" aria-current="page">Action</li>
        </ol>
    </nav>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Html.DisplayFor(m => m.Services.Service_Key)</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-8 mb-3">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-3">
                                <dl class="row">
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Create)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Create)</dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Service_Subject)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><b>@Html.DisplayFor(m => m.Services.Service_Subject)</b></dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Service_Description)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Service_Description)</dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.System_Priorities.Priority_Name)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><span class="@Model.Services.System_Priorities.Priority_Class">@Html.DisplayFor(m => m.Services.System_Priorities.Priority_Name)</span></dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Service_DueDate)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><b>@Html.DisplayFor(m => m.Services.Service_DueDate)</b></dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Users.User_Code)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Users.User_Code)</dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Update)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Update)</dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Approved_User_Code)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><span class="text-success">@Html.DisplayFor(m => m.Approved_User_Code)</span></dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Approved_DateTime)</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><span class="text-success">@Html.DisplayFor(m => m.Services.Approved_DateTime)</span></dd>
                                    <dt class="col-12 col-sm-4 col-lg-5">Files</dt>
                                    <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Model.ServiceFiles.Count Attachments</dd>
                                </dl>

                                <button class="btn btn-primary ml-auto" onclick="callModal()">Start job</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <table class="table table-bordered table-hover" id="reqFiles">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.ServiceFiles.FirstOrDefault().ServiceFile_Name)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ServiceFiles.OrderBy(o => o.ServiceFile_Extension))
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-between">
                                                    @item.ServiceFile_Name
                                                    <a href="@item.ServiceFile_Path" target="_blank" title="@item.ServiceFile_Name"><i class="fa fa-download"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">@{ Html.RenderAction("_RefService", "Services", new { id = Model.Services.Service_Id }); }</div>
        </div>
    </div>
</div>