@model AllServiceViewModel

@{
    Layout = null;
}

<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        @foreach (var status in Model.AllStatuses)
        {
        <li class="nav-item">
            <a class="nav-link @(status == Model.AllStatuses.First() ? "active" : "")" id="tab-@status.Status_Id" data-toggle="tab" href="#tab-content-@status.Status_Id">@status.Status_Name</a>
        </li>
        }
    </ul>
</div>
<div class="card-body tab-content">
    @foreach (var status in Model.AllStatuses)
    {
    <div class="tab-pane @(status == Model.AllStatuses.First() ? "active" : "") table-responsive" id="tab-content-@status.Status_Id">
        <table class="table table-bordered table-hover table-striped nowrap w-100">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.GroupedTasks.First().Value.First().Update)</th>
                    <th>@Html.DisplayNameFor(m => m.GroupedTasks.First().Value.First().System_Statuses.Status_Name)</th>
                    <th>@Html.DisplayNameFor(m => m.GroupedTasks.First().Value.First().Subject)</th>
                    <th>@Html.DisplayNameFor(m => m.GroupedTasks.First().Value.First().Requester)</th>
                    <th>@Html.DisplayNameFor(m => m.GroupedTasks.First().Value.First().Estimate_time)</th>
                    <th>@Html.DisplayNameFor(m => m.GroupedTasks.First().Value.First().System_Priorities.Priority_Name)</th>
                    <th>@Html.DisplayNameFor(m => m.GroupedTasks.First().Value.First().Duedate)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.GroupedTasks.ContainsKey(status))
                    {
                        foreach (var item in Model.GroupedTasks[status])
                        {
                            string txtColor = item.Is_OverDue ? "text-danger" : "";
                <tr class="@txtColor">
                    <td class="fit">@Html.DisplayFor(i => item.Update)</td>
                    <td class="fit text-center"><span class="@item.System_Statuses.Status_Class">@Html.DisplayFor(i => item.System_Statuses.Status_Name)</span></td>
                    <td class="text-wrap">
                        <small class="font-weight-bold">[@Html.DisplayFor(i => item.Key)]</small><br />
                        <a href="@Url.Action("ServiceInfomation", "Services", new { id = item.ServiceId })">@Html.DisplayFor(i => item.Subject)</a>
                    </td>
                    <td class="fit text-center">@Html.DisplayFor(i => item.Requester)</td>
                    <td class="fit text-right">@Html.DisplayFor(i => item.Estimate_time)</td>
                    <td class="fit text-center"><span class="@Html.ValueFor(i => item.System_Priorities.Priority_Class)">@Html.DisplayFor(i => item.System_Priorities.Priority_Name)</span></td>
                    <td class="fit">@Html.DisplayFor(i => item.Duedate)</td>
                </tr>
                        }
                    }
                    else
                    {
                <tr>
                    <td colspan="7" class="text-center">No tasks available</td>
                </tr>
                    }
            </tbody>
        </table>
    </div>
    }
</div>
