@model IEnumerable<E2E.Models.Tables.Services>

@{
    Layout = null;
}

<table class="display table table-bordered table-hover nowrap w-100">
    <thead>
        <tr>
            <th class="fit">@Html.DisplayNameFor(m => m.Action_DateTime)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.System_Statuses.Status_Name)</th>
            <th>@Html.DisplayNameFor(m => m.Service_Subject)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.Service_EstimateTime)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.System_Priorities.Priority_Name)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.Service_DueDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.Action_DateTime)</td>
                <td class="text-center"><span class="@item.System_Statuses.Status_Class">@Html.DisplayFor(i => item.System_Statuses.Status_Name)</span></td>
                <td>
                    <b>[@Html.DisplayFor(i => item.Service_Key)]</b>
                    <a href="@Url.Action("ServiceInfomation","Services",new { id = item.Service_Id })">@Html.DisplayFor(i => item.Service_Subject)</a>
                </td>
                <td>@Html.DisplayFor(i => item.Service_EstimateTime)</td>
                <td class="text-center"><span class="@Html.ValueFor(i => item.System_Priorities.Priority_Class)">@Html.DisplayFor(i => item.System_Priorities.Priority_Name)</span></td>
                <td>@Html.DisplayFor(i => item.Service_DueDate)</td>
            </tr>
        }
    </tbody>
</table>