@model IEnumerable<E2E.Models.Tables.Services>

@{
    Layout = null;
}

<table class="table table-bordered table-hover w-100">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Create)</th>
            <th>@Html.DisplayNameFor(m => m.Service_Subject)</th>
            <th>@Html.DisplayNameFor(m => m.Required_Approve_DateTime)</th>
            <th>@Html.DisplayNameFor(m => m.System_Priorities.Priority_Name)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.Service_DueDate)</th>
            <th>@Html.DisplayNameFor(m => m.Users.User_Code)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="fit">@Html.DisplayFor(i => item.Create)</td>
                <td class="overflow-hidden">
                    <b>[@Html.DisplayFor(i => item.Service_Key)]&nbsp;</b><a href="@Url.Action("Approve_Form","Services",new { id=item.Service_Id })">@Html.DisplayFor(i => item.Service_Subject)</a>
                </td>
                <td class="fit">@Html.DisplayFor(i => item.Required_Approve_DateTime)</td>
                <td class="text-center fit"><span class="@Html.ValueFor(i => item.System_Priorities.Priority_Class)">@Html.DisplayFor(i => item.System_Priorities.Priority_Name)</span></td>
                <td class="fit">@Html.DisplayFor(i => item.Service_DueDate)</td>
                <td class="fit">@Html.DisplayFor(i => item.Users.User_Code)</td>
            </tr>
        }
    </tbody>
</table>