@model E2E.Models.Views.clsServices

@{
    ViewBag.Title = "Services";
}
@section scripts{
    <script src="~/Asset/Service.min.js"></script>
    <script>
        $(function () {
            setTable_File('#reqFiles', true, false);
            setDropdown_Form();
        });

        $('form').submit(function () {
            callSubmitRedirect('@Url.Action("Commit","Services")', '@Url.Action("Action","Services")');
            return false;
        });
    </script>
}
@section breadcrumb{
    <nav aria-label="breadcrumb " class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Services")">Service</a></li>
            <li class="breadcrumb-item active" aria-current="page">Commit</li>
        </ol>
    </nav>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Html.DisplayFor(m => m.Services.Service_Key)</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-5 col-xl-3 order-1 order-lg-0">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "was-validated", id = "CommitForm" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Services.Service_Id)
                    <div class="form-group">
                        <label for="plantList">
                            Plant
                        </label>
                        <select class="form-control" id="plantList" onchange="getSelectOp('@Url.Action("Users_GetSelectDivisions","Masters")',this.value,'#divisionList')" required>
                            <option value="">Select Plant</option>
                            @{
                                foreach (var item in ViewBag.PlantList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="divisionList">
                            Division
                        </label>
                        <select class="form-control" id="divisionList" onchange="getSelectOp('@Url.Action("Users_GetSelectDepartments","Masters")',this.value,'#Services_Department_Id')" required>
                            <option value="">Select Division</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Services_Department_Id">Department</label>
                        <select class="form-control" id="Services_Department_Id" onchange="getSelectOp('@Url.Action("Users_GetSelectSections","Masters")',this.value,'#sectionList')" required>
                            <option value="">Select Department</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sectionList">
                            Section
                        </label>
                        <select class="form-control" id="sectionList" onchange="getSelectOp('@Url.Action("Users_GetSelectProcesses","Masters")',this.value,'#processList')">
                            <option value="">Select Section</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="processList">
                            Process
                        </label>
                        <select class="form-control" id="processList" onchange="getSelectOp('@Url.Action("Users_GetSelectUsers","Masters")',this.value,'#Services_Action_User_Id')">
                            <option value="">Select Process</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Services_Action_User_Id">
                            User
                        </label>
                        <select class="form-control" id="Services_Action_User_Id">
                            <option value="">Select User</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="float-right">
                            <button type="button" class="btn btn-secondary" onclick="setCommitToDepartment('@Url.Action("Commit_ToDepartment","Services",new { id = Html.ValueFor(m => m.Services.Service_Id) })','@Url.Action("Index","Services")')">Commit to My department</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-12 col-lg-7 col-xl-9 order-0 order-lg-1">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-3">
                        <dl class="row">
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Create)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Create)</dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Service_Subject)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><b>@Html.DisplayFor(m => m.Services.Service_Subject)</b></dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Service_Description)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Service_Description)</dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.System_Priorities.Priority_Name)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><span class="@Model.Services.System_Priorities.Priority_Class">@Html.DisplayFor(m => m.Services.System_Priorities.Priority_Name)</span></dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Service_DueDate)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0"><b>@Html.DisplayFor(m => m.Services.Service_DueDate)</b></dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Users.User_Code)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Users.User_Code)</dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Update)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Update)</dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Approve_User_Code)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Approve_User_Code)</dd>
                            <dt class="col-12 col-sm-4 col-lg-5">@Html.DisplayNameFor(m => m.Services.Approve_DateTime)</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Html.DisplayFor(m => m.Services.Approve_DateTime)</dd>
                            <dt class="col-12 col-sm-4 col-lg-5">Files</dt>
                            <dd class="offset-1 col-11 col-sm-8 col-lg-7 offset-sm-0">@Model.ServiceFiles.Count Attachments</dd>
                        </dl>

                        @{
                            if (!Model.Services.RequiredApprove)
                            {
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-ban" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-warning" onclick="setRequired('@Url.Action("Commit_Required","Services",new { id = Html.ValueFor(m => m.Services.Service_Id) })')">Require approval</button>
                                </div>
                            }

                        }
                    </div>
                    <div class="col-12 col-xl-4 mb-3">
                        <div class="row">
                            <table class="table table-bordered table-hover" id="reqFiles">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.ServiceFiles.FirstOrDefault().ServiceFile_Name)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ServiceFiles.OrderBy(o => o.ServiceFile_Extension))
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-between">
                                                    @item.ServiceFile_Name
                                                    <a href="@item.ServiceFile_Path" target="_blank" title="@item.ServiceFile_Name"><i class="fa fa-download"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="serviceRefList">@{ Html.RenderAction("_RefService", "Services", new { id = Model.Services.Service_Id }); }</div>