@{
    ViewBag.Title = "Services";
}

@section scripts{

    <script src="~/Asset/Service.min.js"></script>

    <script>
        $(function () {
            reloadTable();

        });

        $(document).on('submit', '#SaveForm', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Form", "Services")');
            return false;
        });

        function reloadTable() {
            if (@ViewBag.AuthorizeIndex != 3) {
                callTable_NoSort('@Url.Action("Index_Table_WaitCommit", "Services")', true, 1,'#waitingCommit');
            }

            callTable_NoSort('@Url.Action("Index_Table_WaitAction", "Services")', true, 1,'#waitingAction');
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
    </nav>
}
<div class="d-flex mb-3">
    <div class="mr-auto"></div>
    <div class="ml-auto">
        <button class="btn btn-secondary" onclick="callModalForm('@Url.Action("Form","Services")','@Url.Action("GetPriorityDateRange","Services")','@Url.Action("GetOwnerUser","Services")',true)"><i class="fa fa-plus"></i></button>
    </div>
</div>

@{
    if (ViewBag.AuthorizeIndex != 3)
    {
        <div class="card shadow mb-5">
            <div class="card-header">
                <h5 class="card-title">Waiting Commit</h5>
            </div>
            <div class="card-body">
                <div class="row" id="waitingCommit"></div>
            </div>
        </div>
    }
}
<div class="card shadow">
    <div class="card-header">
        <h5 class="card-title">Waiting Action</h5>
    </div>
    <div class="card-body">
        <div class="row" id="waitingAction"></div>
    </div>
</div>