@{
    ViewBag.Title = "Report KPI";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

@section breadcrumb{
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item">Department</li>
            <li class="breadcrumb-item active" aria-current="page">Report KPI</li>
        </ol>
    </nav>
}

@section scripts{
    <script>
        $(function () {
            reloadTable();

        });

        function callSatisfactionModal(id) {
            $.ajax({
                url: '@Url.Action("Report_KPI_View", "Services")',
                data: {
                    id: id,
                    filter:getQueryString()
                },
                async: true,
                success: function (res) {
                    $('#modalContent').parent().addClass('modal-xl');

                    $('#modalContent').html(res);
                    $('#modalContent').find('select').each(function () {
                        $(this).select2({
                            theme: 'bootstrap4',
                            width: '100%'
                        });
                    });
                    $('#modalContent').find('table').each(function () {
                        $(this).DataTable({
                            "columnDefs": { targets: [0, 1], type: 'date' }
                        });
                    });
                    $('#modalArea').modal('show');
                }
            });
            return false;
        }

        function callJoinTeamModal(id) {
            $.ajax({
                url: '@Url.Action("Report_KPI_JoinTeam", "Services")',
                data: {
                    id: id,
                    filter:getQueryString()
                },
                async: true,
                success: function (res) {
                    $('#modalContent').parent().addClass('modal-xl');

                    $('#modalContent').html(res);
                    $('#modalContent').find('select').each(function () {
                        $(this).select2({
                            theme: 'bootstrap4',
                            width: '100%'
                        });
                    });
                    $('#modalContent').find('table').each(function () {
                        $(this).DataTable({
                            "columnDefs": { targets: [0, 1], type: 'date' }
                        });
                    });
                    $('#modalArea').modal('show');
                }
            });
            return false;
        }

        function reloadTable() {
            callFilter('@Url.Action("Report_KPI_Filter", "Services")').then(function () {
                callTable('@Url.Action("Report_KPI_Table", "Services")');
            });

        }
    </script>
}

<div class="mb-3 d-flex">
    <div class="ml-auto" id="filter"></div>
</div>
<div id="datalist"></div>