@model IEnumerable<E2E.Models.Views.ReportKPI_Unsatisfied>

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Total Unsatisfied: @Model.Count() tasks.</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="display table table-bordered table-hover nowrap w-100">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Service_Subject)</th>
                    <th>@Html.DisplayNameFor(m => m.UserRequest)</th>
                    <th>@Html.DisplayNameFor(m => m.UserAction)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td class="text-wrap">
                            <small class="font-weight-bold">[@Html.DisplayFor(i => item.Service_Key)]</small><br />
                            <a target="_blank" href="@Url.Action("ServiceInfomation","Services",new { id = item.Service_Id })">@Html.DisplayFor(i => item.Service_Subject)</a>
                        </td>
                        <td>@Html.DisplayFor(i => item.UserRequest)</td>
                        <td>@Html.DisplayFor(i => item.UserAction)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
