@model E2E.Models.Views.ReportKPI_Filter

@{
    Layout = null;
}

@using (Html.BeginForm("Index", "Services", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Date_From)
        @Html.EditorFor(m => m.Date_From, new { htmlAttributes = new { @class = "form-control", type = "date" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date_To)
        @Html.EditorFor(m => m.Date_To, new { htmlAttributes = new { @class = "form-control", type = "date" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User_Id)
        @Html.DropDownListFor(m => m.User_Id, new SelectList(ViewBag.UserList, "Value", "Text"), new { @class = "form-control",multiple="multiple" })
    </div>
    <button type="submit" class="btn btn-primary">SEARCH</button>
}