@{
    ViewBag.Title = "Report KPI";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

@section breadcrumb{
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item">Department</li>
            <li class="breadcrumb-item active" aria-current="page">Report KPI</li>
        </ol>
    </nav>
}

@section scripts{
    <script>
        window.onload = function () {
            YearFilterList();
        }

        function callOverdueModal(year, month, userId) {
            $.ajax({
                url: '@Url.Action("Report_KPI_Overdue", "Services")',
                data: {
                    year,
                    month,
                    userId
                },
                async: true,
                success: function (res) {
                    $('#modalContent').html(res);
                    $('#modalContent').parent().addClass('modal-xl');
                    $('#modalArea').modal('show');
                }
            });
            return false;
        }

        function callUnsatisfiedModal(year, month, userId) {
            $.ajax({
                url: '@Url.Action("Report_KPI_Unsatisfied", "Services")',
                data: {
                    year,
                    month,
                    userId
                },
                async: true,
                success: function (res) {
                    $('#modalContent').html(res);
                    $('#modalContent').parent().addClass('modal-xl');
                    $('#modalArea').modal('show');
                }
            });
            return false;
        }

        function callUserTaskModal(id) {
            $.ajax({
                url: '@Url.Action("Report_KPI_View", "Services")',
                data: {
                    id: id,
                    filter:getQueryString()
                },
                async: true,
                success: function (res) {
                    $('#modalContent').html(res);
                    $('#modalContent').parent().addClass('modal-xl');
                    $('#modalArea').modal('show');
                }
            });
            return false;
        }

        function callJoinTeamModal(id) {
            $.ajax({
                url: '@Url.Action("Report_KPI_JoinTeam", "Services")',
                data: {
                    id: id,
                    filter:getQueryString()
                },
                async: true,
                success: function (res) {
                    $('#modalContent').parent().addClass('modal-xl');

                    $('#modalContent').html(res);

                    $('#modalArea').modal('show');
                }
            });
            return false;
        }

        function YearFilterList() {
            // Create the input-group container
            let inputGroup = document.createElement('div');
            inputGroup.classList.add('input-group');

            // Create the input-group-prepend container
            let inputGroupPrepend = document.createElement('div');
            inputGroupPrepend.classList.add('input-group-prepend');

            // Create the input-group-text element
            let inputGroupText = document.createElement('div');
            inputGroupText.classList.add('input-group-text');
            inputGroupText.innerText = 'Annual report year';

            // Append the input-group-text to the input-group-prepend container
            inputGroupPrepend.appendChild(inputGroupText);

            // Create the select element
            let selectOption = document.createElement('select');
            selectOption.classList.add('form-control');

            // Create the input-group-append container
            let inputGroupAppend = document.createElement('div');
            inputGroupAppend.classList.add('input-group-append');

            let inputGroupButton = document.createElement('button');
            inputGroupButton.classList.add('btn', 'btn-outline-secondary');
            inputGroupButton.innerText = 'Export';
            inputGroupButton.setAttribute('type', 'button');

            inputGroupAppend.appendChild(inputGroupButton);

            // Append the input-group-prepend and select element to the input group
            inputGroup.appendChild(inputGroupPrepend);
            inputGroup.appendChild(selectOption);
            inputGroup.appendChild(inputGroupAppend);

            $.ajax({
                url: '@Url.Action("YearList", "Services")',
                async: true,
                method: 'Get',
                success: function (years) {
                    let selectedYear;
                    years.forEach(function (v, i) {
                        if (i == 0) {
                            selectedYear = v;
                        }
                        selectOption.append(new Option(v, v));
                    });

                    selectOption.addEventListener('change', function () {
                        selectedYear = this.value;
                        LoadSelectedYear(selectedYear);
                    });

                    document.getElementById('filter').appendChild(inputGroup);

                    if (years.length > 0) {
                        LoadSelectedYear(years[0]);
                    }

                    inputGroupAppend.addEventListener('click', function () {
                        if (selectedYear) {
                            swal({
                                title: "Are you sure?",
                                text: "Confirm to download excel file or not",
                                icon: "warning",
                                buttons: true,
                            }).then((conf) => {
                                if (conf) {
                                    window.location.href = '@Url.Action("YearlyReportExport", "Services")' + '?year=' + selectedYear;
                                }
                            });

                        } else {
                            swal({
                                title: 'Warning',
                                text: 'Please select a year to export.',
                                icon: 'warning'
                            });
                        }
                    });
                }
            });
        }

        function LoadSelectedYear(year) {
            $.ajax({
                url: '@Url.Action("YearlyReportOverview","Services")',
                async: true,
                data: {
                    Year: year
                },
                method: 'Get',
                success: function (viewDataOverview) {
                    document.getElementById('dataOverview').innerHTML = viewDataOverview;
                    $('[data-toggle="tooltip"]').tooltip();

                    $.ajax({
                        url: '@Url.Action("YearlyReportIndividual", "Services")',
                        async: true,
                        data: {
                            Year: year
                        },
                        method: 'Get',
                        success: function (viewDataIndividual) {
                            document.getElementById('dataIndividual').innerHTML = viewDataIndividual;
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                    });
                }
            });
        }

    </script>
}

<div class="mb-3 d-flex">
    <div id="filter"></div>
</div>

<div id="dataOverview" class="table-responsive mb-3"></div>

<div id="dataIndividual" class="table-responsive"></div>
