@model IEnumerable<E2E.Models.Views.ClsChangeDueDates>

@{
    Layout = null;
}

<table class="display table table-bordered table-hover nowrap w-100">
    <thead>
        <tr>
            <th class="fit"></th>
            <th class="fit">@Html.DisplayNameFor(m => m.Create)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.DueDateStatus_Name)</th>
            <th>@Html.DisplayNameFor(m => m.Service_Subject)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.DueDate_Old)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.DueDate_New)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.Remark)</th>

            <th class="fit">@Html.DisplayNameFor(m => m.User_Name)</th>
            <th class="fit">@Html.DisplayNameFor(m => m.Update)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @if (!item.Update.HasValue)
                    {
                        <button class="btn btn-outline-danger" onclick="setDangerByIdReTable('@Url.Action("RequestChangeDue_Reject","Services",new { id=item.ChangeDueDate_Id })')">Reject</button>
                        <button class="btn btn-success" onclick="setSuccessByIdReTable('@Url.Action("RequestChangeDue_Accept","Services",new { id=item.ChangeDueDate_Id })')">Accept</button>
                    }
                </th>
                <td>@Html.DisplayFor(i => item.Create)</td>
                <td class="text-center"><span class="@Html.ValueFor(i => item.DueDateStatus_Class)">@Html.DisplayFor(i => item.DueDateStatus_Name)</span></td>
                <td>
                    <b>[@Html.DisplayFor(i => item.Service_Key)]</b>
                    <span>@Html.DisplayFor(i => item.Service_Subject)</span>
                </td>
                <td>@Html.DisplayFor(i => item.DueDate_Old)</td>
                <td>@Html.DisplayFor(i => item.DueDate_New)</td>
                <td>@Html.DisplayFor(i => item.Remark)</td>

                <td>@Html.DisplayFor(i => item.User_Name)</td>
                <td>@Html.DisplayFor(i => item.Update)</td>
            </tr>
        }
    </tbody>
</table>
