@model E2E.Models.Views.clsServices

@{
    ViewBag.Title = "Service Information";
}

@section scripts{

    <script src="~/Asset/Service.min.js"></script>
    <script>
        $(function () {
            var infoHeight = $('#serviceInfo').innerHeight();
            $('#serviceComment').innerHeight(infoHeight);
            $('#refService').load('@Url.Action("_RefService","Services",new { id = Model.Services.Service_Id })');
            reloadComment();
        });

        function reloadComment() {
            $('#commentHis').load('@Url.Action("_CommentHistory","Services",new { id=Model.Services.Service_Id })');
            $('#commentNew').load('@Url.Action("_Comment", "Services",new { id=Model.Services.Service_Id })');
        }

        $(document).on('submit', '#CommentForm', function (e) {
            e.preventDefault();
            var form = $('form#CommentForm')[0];
            var fd = new FormData(form);

            $.ajax({
                url: '@Url.Action("_Comment", "Services")',
                method: "POST",
                async: true,
                data: fd,
                processData: false,
                contentType: false,
                traditional: true,
                success: function (res) {
                    if (res.icon == 'success') {
                        reloadComment();
                    }
                    else {
                        swal({
                            title: res.title,
                            text: res.text,
                            icon: res.icon,
                            button: res.button,
                            dangerMode: res.dangerMode
                        });
                    }

                }
            });
            return false;
        });
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service Information</li>
        </ol>
    </nav>
}

<blockquote class="blockquote text-right">
    <p class="mb-0">[@Model.Services.Service_Key]&nbsp;@Html.DisplayFor(m => m.Services.Service_Subject)</p>
    <small class="blockquote-footer"><cite title="@Html.DisplayFor(m => m.Services.Create)">@Html.DisplayFor(m => m.Services.Create)</cite></small>
</blockquote>
<div class="row mb-3">
    <div class="col-lg-7 mb-3 mb-lg-0">
        <div class="card" id="serviceInfo">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">Service detail</h5>
                    <div>
                        @{
                            Guid userId = Guid.Parse(HttpContext.Current.User.Identity.Name);
                            if (Model.Services.Action_User_Id == userId)
                            {
                                if (Model.Services.System_Statuses.Status_Index == 2)
                                {
                                    <button type="button" class="btn btn-outline-secondary">Forward</button>
                                    <button type="button" class="btn btn-success">Close</button>
                                }

                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Services.System_Statuses.Status_Name)</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0"><span class="@Model.Services.System_Statuses.Status_Class">@Html.DisplayFor(m => m.Services.System_Statuses.Status_Name)</span></dd>
                    <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Services.Service_Description)</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0">@Html.DisplayFor(m => m.Services.Service_Description)</dd>
                    <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Services.Users.User_Code)</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0">@Html.DisplayFor(m => m.Services.Users.User_Code)</dd>
                    @if (Model.Services.Update.HasValue)
                    {
                        <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Services.Update)</dt>
                        <dd class="offset-1 col-11 col-md-9 offset-md-0">@Html.DisplayFor(m => m.Services.Update)</dd>
                    }

                    <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Services.System_Priorities.Priority_Name)</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0"><span class="@Model.Services.System_Priorities.Priority_Class">@Html.DisplayFor(m => m.Services.System_Priorities.Priority_Name)</span></dd>
                    <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Services.Service_DueDate)</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0"><b>@Html.DisplayFor(m => m.Services.Service_DueDate)</b></dd>
                    <dt class="col-12 col-md-3">Files</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0">
                        @Model.ServiceFiles.Count Attachments
                        <ul class="list-unstyled">
                            @foreach (var item in Model.ServiceFiles.OrderBy(o => o.ServiceFile_Extension))
                            {
                                <li>
                                    <a href="@item.ServiceFile_Path" target="_blank" title="@item.ServiceFile_Name"><i class="fa fa-download"></i>&nbsp;@item.ServiceFile_Name</a>
                                </li>

                            }
                        </ul>
                    </dd>
                    @if (Model.Services.Required_Approve_User_Id.HasValue)
                    {
                        <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Required_User_Code)</dt>
                        <dd class="offset-1 col-11 col-md-9 offset-md-0">@Html.DisplayFor(m => m.Required_User_Code) - <b>@Html.DisplayFor(m => m.Services.Required_Approve_DateTime)</b></dd>
                    }
                    @if (Model.Services.Approved_User_Id.HasValue)
                    {
                        <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Approved_User_Code)</dt>
                        <dd class="offset-1 col-11 col-md-9 offset-md-0">@Html.DisplayFor(m => m.Approved_User_Code) - <b>@Html.DisplayFor(m => m.Services.Approved_DateTime)</b></dd>
                    }
                    <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Commit_User_Code)</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0">@Html.DisplayFor(m => m.Commit_User_Code) - <b>@Html.DisplayFor(m => m.Services.Commit_DateTime)</b></dd>
                    <dt class="col-12 col-md-3">@Html.DisplayNameFor(m => m.Action_User_Code)</dt>
                    <dd class="offset-1 col-11 col-md-9 offset-md-0">@Html.DisplayFor(m => m.Action_User_Code) - <b>@Html.DisplayFor(m => m.Services.Action_DateTime)</b></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card" id="serviceComment">
            <div class="card-header">
                <h5 class="card-title">Comment</h5>
            </div>
            <div class="card-body overflow-auto" id="commentHis">
            </div>
            <div class="card-footer" id="commentNew">
            </div>
        </div>
    </div>
</div>

<div id="refService"></div>