@model E2E.Models.Tables.ServiceDocuments

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@Html.DisplayFor(m => m.Master_Documents.Document_Name)</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl>
        <dt>@Html.DisplayNameFor(m => m.ServiceDocument_Name)</dt>
        <dd>
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="@Model.ServiceDocument_Path" frameborder="0" height="100%" width="100%"></iframe>
            </div>
        </dd>
        <dt>@Html.DisplayNameFor(m => m.ServiceDocument_Remark)</dt>
        <dd>
            <span class="PreLine">
                @Html.DisplayFor(m => m.ServiceDocument_Remark)
            </span>
        </dd>
    </dl>
</div>
