@{
    ViewBag.Title = "OpenAI";
}

@section scripts{
    <script>

        $(function () {
            callData('@Url.Action("OpenAI_History", "ChatBot")', '#historyArea').then(function () {
                reloadQuestion();
            });
        });

        function reloadQuestion() {
            callData('@Url.Action("OpenAI_Request", "ChatBot")', '#questionArea').then(function () {
                adjustHistoryHeight(document.getElementById("question"));

                const badges = document.querySelectorAll(".badge-success");

                badges.forEach((badge) => {
                    const value = parseFloat(badge.dataset.value);
                    const max = parseFloat(badge.dataset.max);

                    if (value >= max) {
                        $('#questionArea').fadeToggle();
                    }
                    else if (value > 0.9 * max) {
                        badge.classList.remove("badge-success", "badge-warning");
                        badge.classList.add("badge-danger");
                        confirmAndPerformAjaxRequest('@Url.Action("OpenAI_ClearConversation", "ChatBot")', 'reloadPage');
                    } else if (value > 0.45 * max) {
                        badge.classList.remove("badge-success", "badge-danger");
                        badge.classList.add("badge-warning");
                    }
                });

                bottomFunction('html');

            });
        }

        function adjustTextareaHeight(event) {
            const textarea = event.target;
            const maxHeight = 256; // Maximum height for the textarea

            textarea.style.height = "auto";
            textarea.style.height = Math.min(textarea.scrollHeight, maxHeight) + "px";

            adjustHistoryHeight(textarea);
        }

        function adjustHistoryHeight(textarea) {
            if (textarea.scrollHeight <= 256) {
                const historyArea = document.getElementById("historyArea");
                const marginBottom = textarea.scrollHeight + 32;
                historyArea.style.marginBottom = marginBottom + "px";
            }

        }

        $(document).on('keydown', '#question', function (e) {
            if (e.keyCode === 13 && !e.shiftKey) {
                e.preventDefault(); // Prevent Enter key from creating a new line
                $('#RequestForm').submit(); // Submit the form
            }
            else {
                adjustTextareaHeight(e);
            }
        });

        $(document).on('submit', '#RequestForm', function (e) {
            e.preventDefault();
            let newId = '';

            function checkEmptyChat() {
                var emptyChatBlock = document.getElementById("emptyChat");

                // Check if the element exists before accessing its properties
                if (emptyChatBlock && emptyChatBlock.style.display !== "none") {
                    emptyChatBlock.remove();
                }
            }

            if ($('#question').val()) {
                const fd = new FormData(this);

                $.ajax({
                    url: '@Url.Action("OpenAI_Request","ChatBot")',
                    type: 'POST',
                    async: true,
                    data: fd,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        checkEmptyChat();

                        const ul = $('#histories');

                        let li = $('<li>').addClass('list-group-item');
                        let divRow = $('<div>').addClass('row');
                        let divCol1 = $('<div>').addClass('col-2 col-md-1 text-center');
                        let iUser = $('<i>').addClass('fa fa-user fa-2x');
                        divCol1.append(iUser);
                        let divCol2 = $('<div>').addClass('col-10 col-md-11');
                        let pUser = $('<p>').addClass('text-prewrap text-break').text($('#question').val());
                        let divCite = $('<div>').addClass('text-right');
                        let citeUser = $('<cite>').addClass('small mt-3').text(new Date().toLocaleString());
                        divCite.append(citeUser);
                        divCol2.append(pUser);
                        divCol2.append(divCite);
                        divRow.append(divCol1);
                        divRow.append(divCol2);
                        li.append(divRow);
                        ul.append(li);

                        $('#question').val('');

                        const childLength = ul.find('li').length;

                        li = $('<li>').addClass('list-group-item bg-light');
                        divRow = $('<div>').addClass('row');
                        divCol1 = $('<div>').addClass('col-2 col-md-1 text-center');
                        let iCogs = $('<i>').addClass('fa fa-android fa-2x');
                        divCol1.append(iCogs);
                        divCol2 = $('<div>').addClass('col-10 col-md-11');
                        newId = 'conversation_'.concat(childLength + 1);
                        let pCogs = $('<p>').addClass('text-prewrap text-break').attr('id', newId);
                        divCite = $('<div>').addClass('text-right');
                        let citeCogs = $('<cite>').addClass('small mt-3');
                        divCite.append(citeCogs);
                        divCol2.append(pCogs);
                        divCol2.append(divCite);
                        divRow.append(divCol1);
                        divRow.append(divCol2);
                        li.append(divRow);
                        ul.append(li);

                        bottomFunction('html');
                      },
                    success: function (json) {
                        if (json.Error) {
                            swal({
                                title: 'Response error',
                                text: json.Message,
                                icon: 'error',
                                dangerMode: true
                            }).then(function () {
                                location.reload();
                            });
                        }
                        else {
                            $('#'.concat(newId)).parent('div').find('cite').text(new Date().toLocaleString());
                            typeWriter(json.Message, newId, { disableTarget: 'question', scrollTarget: 'html', setLink: false });

                            reloadQuestion();
                        }

                    },
                    error: function (xhr, status, error) {
                        // Handle AJAX request error
                        console.error('AJAX Error:', status, error);
                    }
                });
            }
            return false;
        });
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chat bot</li>
            <li class="breadcrumb-item active" aria-current="page">External</li>
        </ol>
    </nav>
}

<div id="historyArea"></div>
<div class="fixed-bottom" id="bottomArea">
    <div class="container">
        <div class="card bg-transparent border-0">
            <div class="card-header bg-transparent border-0 px-0" id="questionArea">
            </div>
        </div>
    </div>
</div>
