@model IEnumerable<E2E.Models.Tables.Master_Divisions>

@{
    Layout = null;
}

<table class="table table-bordered table-hover nowrap">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Create)</th>
            <th>@Html.DisplayNameFor(m => m.Active)</th>
            <th>@Html.DisplayNameFor(m => m.Division_Name)</th>
            <th>@Html.DisplayNameFor(m => m.Update)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="fit">@Html.DisplayFor(i => item.Create)</td>
            <td class="fit text-center">@Html.DisplayFor(i => item.Active)</td>
            <td class="text-nowrap">@Html.DisplayFor(i => item.Division_Name)</td>
            <td class="fit">@Html.DisplayFor(i => item.Update)</td>
        </tr>
        }
    </tbody>
</table>
