@model E2E.Models.Tables.Master_Processes


@{
    Layout = null;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "SaveForm", @class = "was-validated" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Process_Id)
        <div class="form-row">

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Master_Sections.Master_Departments.Master_Divisions.Plant_Id)
                @Html.DropDownListFor(m => m.Master_Sections.Master_Departments.Master_Divisions.Plant_Id, new SelectList(ViewBag.PlantsList, "Value", "Text"), "Select Plant", new { @class = "form-control", required = "required" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Master_Sections.Master_Departments.Division_Id)
                @Html.DropDownListFor(m => m.Master_Sections.Master_Departments.Division_Id, new SelectList(ViewBag.DivisionsList, "Value", "Text"), "Select Division", new { @class = "form-control", required = "required" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Master_Sections.Department_Id)
                @Html.DropDownListFor(m => m.Master_Sections.Department_Id, new SelectList(ViewBag.DepartmentsList, "Value", "Text"), "Select Department", new { @class = "form-control", required = "required" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.Section_Id)
                @Html.DropDownListFor(m => m.Section_Id, new SelectList(ViewBag.SectionsList, "Value", "Text"), "Select Section", new { @class = "form-control", required = "required" })
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.Process_Name)
                @Html.TextBoxFor(m => m.Process_Name, new { @class = "form-control", required = "required" })
            </div>

        </div>
        <div class="form-group form-check">
            @Html.CheckBoxFor(m => m.Active, new { @class = "form-check-input" })
            @Html.LabelFor(m => m.Active, new { @class = "form-check-label" })
        </div>

    </div>
    <div class="modal-footer">
        @{
            if (!ViewBag.IsNew)
            {
                <button type="button" class="btn btn-outline-danger mr-auto" onclick="callDeleteItem('@Url.Action("Processes_Delete","Masters",new { id=Html.ValueFor(w=>w.Process_Id)})')">Delete</button>
            }
        }

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}