@model IEnumerable<E2E.Models.Tables.Master_Processes>

@{
    Layout = null;
}

<table class="table table-bordered table-hover nowrap">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Create)</th>
            <th>@Html.DisplayNameFor(m => m.Active)</th>
            <th>@Html.DisplayNameFor(m => m.Process_Name)</th>
            <th>@Html.DisplayNameFor(m => m.Master_Sections.Section_Name)</th>
            <th>@Html.DisplayNameFor(m => m.Master_Sections.Master_Departments.Department_Name)</th>
            <th>@Html.DisplayNameFor(m => m.Master_Sections.Master_Departments.Master_Divisions.Division_Name)</th>

            <th>@Html.DisplayNameFor(m => m.Update)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="fit">@Html.DisplayFor(i => item.Create)</td>
            <td class="text-center fit">@Html.DisplayFor(i => item.Active)</td>
            <td class="text-nowrap">@Html.DisplayFor(i => item.Process_Name)</td>
            <td class="text-nowrap">@Html.DisplayFor(i => item.Master_Sections.Section_Name)</td>
            <td class="text-nowrap">@Html.DisplayFor(i => item.Master_Sections.Master_Departments.Department_Name)</td>
            <td class="text-nowrap">@Html.DisplayFor(i => item.Master_Sections.Master_Departments.Master_Divisions.Division_Name)</td>

            <td class="fit">@Html.DisplayFor(i => item.Update)</td>
        </tr>
        }
    </tbody>
</table>
