
@{
    ViewBag.Title = "Users";
}

@section scripts{
    <script src="~/Asset/Master.min.js"></script>
    <script>
        $(function () {
            reloadTable();

        });

        $(document).on('submit', '#UploadForm', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Users_UploadExcel", "Masters")', this);
            return false;
        });

        $(document).on('submit', '#SaveForm', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Users_Form", "Masters")', this);
            return false;
        });

        function reloadTable() {
            callTable('@Url.Action("Users_Table","Masters")', true, true, 1);
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Master</li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>
}

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex">
            <div class="mr-auto"></div>
            <div class="ml-auto">
                <button class="btn btn-secondary" onclick="callModal('@Url.Action("Users_Upload","Masters")',true);" title="Import"><i class="fa fa-upload"></i>&nbsp;Import</button>
                <button class="btn btn-primary" onclick="callModalUser('@Url.Action("Users_Form","Masters")',true);" title="Add"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="datalist">
        </div>
    </div>
</div>