@model IEnumerable<E2E.Models.Tables.EForms>

@{
    Layout = null;
}

<table class="table table-bordered table-hover w-100">
    <thead>
        <tr>
            <th><i class="fa fa-bullhorn" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="row">
                    <div class="col-12">
                        @Html.ActionLink(item.EForm_Title, "EForms_Content", new { id = item.EForm_Id }) &nbsp;

                        @{
                                if (string.Equals(item.User_Id.ToString(), HttpContext.Current.User.Identity.Name) || ViewBag.RoleId == 1)
                                {
                            <button onclick="callModalEForms('@Url.Action("EForms_Create", "EForms", new { id = Html.ValueFor(m => item.EForm_Id) })', '@Url.Action("_FileCollections", "EForms", new { id = item.EForm_Id })', true)" class="btn"><i class="fa fa-pencil"></i></button>
                                }
                        }
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <small>
                                    <b>Create by:</b> @Html.DisplayFor(i => item.Users.User_Code)   <br />
                                    @{
                                            if (item.Update.HasValue)
                                            {
                                        <b>@Html.DisplayNameFor(m => m.Update):</b>  @Html.DisplayFor(i => item.Update)
                                            }
                                            else
                                            {
                                        <b>@Html.DisplayNameFor(m => m.Create):</b>  @Html.DisplayFor(i => item.Create)
                                            }
                                    }
                                </small>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="d-flex">
                                    <small class="ml-sm-auto">
                                        <b>@Html.DisplayNameFor(m => m.EForm_Start):</b> @Html.DisplayFor(i => item.EForm_Start)<br />
                                        <b>@Html.DisplayNameFor(m => m.EForm_End):</b> @Html.DisplayFor(i => item.EForm_End)<br />
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>