@model IEnumerable<E2E.Models.Tables.EForms>

@{
    Layout = null;
}

<table class="table table-bordered table-hover w-100">
    <thead>
        <tr>
            <th><i class="fa fa-bullhorn" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-12 mb-3">
                            @Html.ActionLink(item.EForm_Title, "EForms_Content", new { id = item.EForm_Id }) &nbsp;

                            @{
                                if (string.Equals(item.Users.User_Code, ViewBag.Usercode))
                                {
                                    if (ViewBag.MyForm == true)
                                    {
                                        <button onclick="callModalEForms('@Url.Action("EForms_Create", "EForms", new { id = Html.ValueFor(m => item.EForm_Id) })', '@Url.Action("_FileCollections", "EForms", new { id = item.EForm_Id })', true)" class="btn"><i class="fa fa-pencil"></i></button>
                                    }
                                }
                            }
                        </div>
                        <div class="col-md-12 col-6">
                            <div class="d-flex justify-content-between flex-wrap">

                                    <small>
                                        <b>Create by:</b> @Html.DisplayFor(i => item.Users.User_Code)   <br />
                                        @{
                                            if (item.Update.HasValue)
                                            {
                                                <b>Update :</b> @Html.DisplayFor(i => item.Update)
                                            }
                                            else
                                            {
                                                <b>Create :</b> @Html.DisplayFor(i => item.Create)
                                            }
                                        }
                                    </small>

                                 
                                <small>
                                    <b>EForm_Start:</b> @Html.DisplayFor(i => item.EForm_Start)<br/>
                                    <b>EForm_End:</b> @Html.DisplayFor(i => item.EForm_End)<br/>
                                </small>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>