@model IEnumerable<E2E.Models.ClsOpenAI>

@{
	ViewBag.Title = "Question";
	Layout = null;
}

@{
	DateTime currentDate = DateTime.MinValue;
}

<ul id="chatHistory" class="list-unstyled">
	@for (int i = 0; i < Model.Count(); i++)
	{
		var questionDate = Model.ElementAt(i).QuestionDateTime.Date;

		if (currentDate != questionDate)
		{

			currentDate = questionDate;

			<p name="pHistory" class="text-center">@questionDate.ToString("d")</p>
		}

		<li id="qa-@i">
			<ul class="list-unstyled">
				<li class="text-right pl-5 p-2">
					<p class="small mb-0">@Model.ElementAt(i).QuestionDateTime.ToString("t")</p>
					<p class="text-prewrap rounded d-inline-block p-2 mt-1 text-white bg-info">@Html.DisplayFor(m => Model.ElementAt(i).Question)</p>
				</li>
				<li class="pr-5">
					<p class="small mb-0">@Model.ElementAt(i).AnswerDateTime.ToString("t")</p>
					<p class="text-prewrap rounded d-inline-block p-2 mt-1 bg-light ">@Html.DisplayFor(m => Model.ElementAt(i).Answer)</p>
				</li>
			</ul>
		</li>
	}
</ul>
