@model E2E.Models.Views.SearchFilter

@{
	ViewBag.Title = "Usage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
			<li class="breadcrumb-item ">OpenAI</li>
			<li class="breadcrumb-item ">Usage</li>
		</ol>
	</nav>
}

@section scripts{

	<script>

		$(function () {
			reloadTable();
		});

		function reloadTable() {

			callTable('@Url.Action("Usage_Table", "OpenAI")');

		}

		function adjustMaxMin() {
			let Date_To = $('#Date_To');
			let Date_From = $('#Date_From');

			if (Date_From.val() > Date_To.val()) {

				Date_To.val('');

			}

			$('#Date_To').attr('min', $('#Date_From').val());

		};

		$('#Date_From').change(function () {

			adjustMaxMin();

		});

		$('#Date_To').change(function () {

			adjustMaxMin();

		});

		function callUsageDetailModal(id) {
			console.log(id);
            $.ajax({
                url: '@Url.Action("Usage_Detail", "OpenAI")',
                data: {
					id: id,
					filter: getQueryString()
                },
                async: true,
                success: function (res) {
                    $('#modalContent').parent().addClass('modal-xl');

                    $('#modalContent').html(res);
                    $('#modalContent').find('table').each(function () {
                        $(this).DataTable({
                            "columnDefs": { targets: [0], type: 'date' }
                        });
                    });
                    $('#modalArea').modal('show');
                }
            });
            return false;
		}

	</script>

}

<div class="row">
	<div class="col-12 mb-3">
		@using (Html.BeginForm("Usage", "OpenAI", FormMethod.Get, new { id = "Usages", @class = "form-inline" }))
		{
			<div class="ml-auto form-group">

				@Html.LabelFor(m => m.Date_From, new { @class = "mr-1" })
				@Html.TextBoxFor(m => m.Date_From, "{0:yyyy-MM-dd}", new { @class = "mr-1 form-control", type = "date" })

				@Html.LabelFor(m => m.Date_To, new { @class = "mr-1" })
				@Html.TextBoxFor(m => m.Date_To, "{0:yyyy-MM-dd}", new { @class = "mr-1 form-control", type = "date", required = "required", onchange = "adjustMaxMin()" })


				<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
				<input type="button" class="btn btn-danger ml-1" value="CLEAR" onclick="clearQueryString()" />
			</div>
		}


	</div>


</div>



<div class="row" id="datalist"></div>
