@model E2E.Models.Tables.BusinessCards

@{
	Layout = null;
}



<div class="modal-header">
    <h5 class="modal-title">Edit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "EditDetilForm",name= "EditDetilForm", @class = "was-validated", enctype = "multipath/form-data" }))
    {
        @Html.HiddenFor(m => m.BusinessCard_Id)
        <div class="form-group col-12">
            @Html.Label("Extension number")
            @Html.TextBoxFor(m => m.Tel_Internal, new { placeholder = "Numbers 4 digits", @class = "form-control", pattern = @"\d{1,4}" })
        </div>
        <div class="form-group col-12">
            @Html.Label("Mobile")
            @Html.TextBoxFor(m => m.Tel_External, new { placeholder = "Numbers only", @class = "form-control", type = "number" })
        </div>
    }
    </div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="EditDetilForm"><i class="fa fa-check"></i></button>
</div>


