@model IEnumerable<E2E.Models.Views.ClsBusinessCard>

@{
	Layout = null;
}

<table class="display table table-bordered table-hover nowrap w-100">
	<thead>
		<tr>
			<th class="fit">@Html.DisplayNameFor(m => m.Create)</th>
			<th class="fit">@Html.DisplayNameFor(m => m.Status_Id)</th>
			<th class="fit">@Html.DisplayNameFor(m => m.Key)</th>
			<th class="fit">@Html.DisplayNameFor(m => m.UserRefName)</th>
			<th class="fit">@Html.DisplayNameFor(m => m.UserActionName)</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		
		<tr>

			<td>@Html.DisplayFor(i => item.Create)</td>
			<td class="text-center"><span class="@item.System_Statuses.Status_Class">@Html.DisplayFor(i => item.System_Statuses.Status_Name)</span></td>
			<td class="text-wrap">
				<a href="@Url.Action("BusinessCard_Detail", "BusinessCards", new { id = item.BusinessCard_Id})">[@Html.DisplayFor(i => item.Key)]</a>
			</td>

			<td>@Html.DisplayFor(i => item.UserRefName)</td>
			<td>@Html.DisplayFor(i => item.UserActionName)</td>
		</tr>
		}
	</tbody>
</table>
