@model IEnumerable<E2E.Models.Views.ClsBusinessCard>

@{
	Layout = null;
}

<table class="display table table-bordered table-hover nowrap w-100">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(m => m.Create)</th>
            <th>@Html.DisplayNameFor(m => m.Key)</th>
            <th>@Html.DisplayNameFor(m => m.Status_Id)</th>
            <th>@Html.DisplayNameFor(m => m.User_id)</th>
            <th>@Html.DisplayNameFor(m => m.UserDetails.Users.Master_Processes.Master_Sections.Master_Departments.Department_Name)</th>
            <th>@Html.DisplayNameFor(m => m.DueDate)</th>
            <th>@Html.DisplayNameFor(m => m.Update)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
		{

        <tr>

            <td class="fit">@Html.DisplayFor(i => item.Create)</td>

            <td class="text-wrap">
                <a href="@Url.Action("BusinessCard_Detail", "BusinessCards", new { id = item.BusinessCard_Id})">[@Html.DisplayFor(i => item.Key)]</a>
            </td>
            <td class="fit text-center"><span class="@item.System_Statuses.Status_Class">@Html.DisplayFor(i => item.System_Statuses.Status_Name)</span></td>
            <td>@Html.DisplayFor(i => item.UserDetails.Users.Username)</td>
            <td>@Html.DisplayFor(i => item.UserDetails.Users.Master_Processes.Master_Sections.Master_Departments.Department_Name)</td>
            <td class="fit">@Html.DisplayFor(i => item.DueDate)</td>
            <td class="fit">@Html.DisplayFor(i => item.Update)</td>
        </tr>
		}
    </tbody>
</table>
