@model E2E.Models.Views.ClsTopic

@{
    Layout = null;
}

@if (Model.TopicGalleries.Count > 0)
{
<h5>Galleries</h5>
<table class="table table-hover table-borderless" id="tableGal">

    <tbody>
        @foreach (var item in Model.TopicGalleries.OrderBy(o => o.TopicGallery_Seq))
            {
        <tr>
            <td class="align-middle">
                <button type="button" class="btn btn-outline-info" onclick="window.open('@item.TopicGallery_Original', '_blank')"><i class="fa fa-eye">  </i></button>
            </td>

            <td>
                <img alt="@item.TopicGallery_Name" src="@item.TopicGallery_Thumbnail" />
            </td>

            <td class="align-middle" id="rowVal">
                <div class="d-flex align-items-center">
                    @Html.HiddenFor(m => item.TopicGallery_Id)
                    @Html.LabelFor(m => item.TopicGallery_Seq, new { @class = "pr-2 mb-0" })
                    @Html.TextBoxFor(m => item.TopicGallery_Seq, new { @class = "form-control", required = "required" })
                </div>
            </td>

            <td class="align-middle text-center">
                <button type="button" class="btn btn-outline-danger" onclick="deleteFiles('@Url.Action("DeleteGallery","Topics",new { id=Html.ValueFor(m => item.TopicGallery_Id)})','@Url.Action("_FileCollection","Topics",new { id=item.Topic_Id})','@Url.Action("ReloadModel","Topics",new { id=item.Topic_Id})')"><i class="fa fa-trash"></i></button>
            </td>
        </tr>

            }
    </tbody>

    <tfoot>
        <tr>
            <th class="text-center" colspan="4">
                <button type="button" class="btn btn-outline-primary" onclick="savegallery_T('@Url.Action("SaveSeq","Topics")','@Url.Action("_FileCollection", "Topics", new { id = Model.TopicGalleries.FirstOrDefault().Topic_Id})','@Url.Action("ReloadModel", "Topics", new { id = Model.TopicGalleries.FirstOrDefault().Topic_Id})')">SAVE GALLERY</button>
            </th>
        </tr>
    </tfoot>
</table>
}

@if (Model.TopicFiles.Count > 0)
{
<table class="table-borderless mt-3">
    <thead>
        <tr>
            <th>
                <h5>Files</h5>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var files in Model.TopicFiles)
            {
        <tr>
            <td>
                <button type="button" class="btn text-danger mr-auto" onclick="deleteFiles('@Url.Action("DeleteFiles","Topics",new { id=Html.ValueFor(m => files.TopicFile_Id) })','@Url.Action("_FileCollection","Topics",new { id=files.Topic_Id})','@Url.Action("ReloadModel","Topics",new { id=files.Topic_Id})')"><i class="fa fa-trash-o"></i></button>
                <a href="@files.TopicFile_Path" target="_blank">@files.TopicFile_Name</a>
            </td>
        </tr>
            }
    </tbody>
</table>
}
