@{
    ViewBag.Title = "Boards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    <link href="~/Content/justifiedGallery.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/jquery.justifiedGallery.min.js"></script>
    <script src="~/Asset/Topic.min.js"></script>
    <script>

        $(function () {
            reloadTable();
        });

        $(document).on('submit', '#SaveForm', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Boards_Create", "Topics")');
            return false;
        });

        function reloadTable() {
            callTable_NoSort('@Url.Action("Boards_Table", "Topics",new { res=1})', true, 0).then(function () {
                callTable_NoSort('@Url.Action("Boards_Table", "Topics",new { res=0})', true, 0, '#datalist2').then(function () {
                    callTable_NoSort('@Url.Action("Boards_Table", "Topics",new { res=3})', true, 0, '#datalist3');
                });
            });
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Topic</li>
        </ol>
    </nav>
}

<div class="d-flex mb-3">
    <div class="ml-auto">
        <button type="button" onclick="callModalTopics('@Url.Action("Boards_Create","Topics")','', true)" class="btn btn-primary"><i class="fa fa-plus"></i></button>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-lg-2 mb-3 mb-lg-0">
        <div class="nav flex-md-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-announce-tab" data-toggle="pill" href="#v-pills-announce" role="tab" aria-controls="v-pills-announce" aria-selected="true">Announce</a>
            <a class="nav-link" id="v-pills-new-tab" data-toggle="pill" href="#v-pills-new" role="tab" aria-controls="v-pills-new" aria-selected="false">New</a>
            <a class="nav-link" id="v-pills-top-tab" data-toggle="pill" href="#v-pills-top" role="tab" aria-controls="v-pills-top" aria-selected="false">Top Rated</a>
        </div>
    </div>
    <div class="col-md-9 col-lg-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-announce" role="tabpanel" aria-labelledby="v-pills-announce-tab">
                <div class="row" id="datalist"></div>
            </div>
            <div class="tab-pane fade" id="v-pills-new" role="tabpanel" aria-labelledby="v-pills-new-tab">
                <div class="row" id="datalist2"></div>
            </div>
            <div class="tab-pane fade" id="v-pills-top" role="tabpanel" aria-labelledby="v-pills-top-tab">
                <div class="row" id="datalist3"></div>
            </div>
        </div>
    </div>
</div>