@model E2E.Models.Tables.TopicComments

@{
    Layout = null;
}

    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "SaveReply", @class = "was-validated" }))
    {
        @Html.AntiForgeryToken()

        <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.TopicComment_Id)
            @Html.HiddenFor(m => m.Topic_Id)
            <div class="form-row">

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Comment_Content)
                    @Html.TextAreaFor(m => m.Comment_Content, new { @class = "form-control", required = "required", rows = 8 })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger mr-auto" onclick="callDeleteItem('@Url.Action("Delete_Reply","Topics",new { id=Html.ValueFor(w=>w.TopicComment_Id)})',true)">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submits</button>
        </div>
    }