
@{
    ViewBag.Title = "Boards";
}

@section scripts{

    <script src="~/Asset/Topic.js"></script>
    <script>
        $(function () {
            reloadTable();

        });

        $(document).on('submit','#SaveForm',  function () {
            callSubmit('@Url.Action("Boards_Create", "Topics")');
            return false;
        });

        async function reloadTable() {
            await callTable_NoSort('@Url.Action("Boards_Table", "Topics",new { val=true})', true, 0);
            await callTable_NoSort('@Url.Action("Boards_Table", "Topics",new { val=false})', true, 0, '#datalist2');
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb " class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Topics</li>
            <li class="breadcrumb-item active" aria-current="page">Board</li>
        </ol>
    </nav>
}

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex">
            <div class="mr-auto"></div>
            <div class="ml-auto">
                <button class="btn btn-secondary" onclick="callModalTopics('@Url.Action("Boards_Create","Topics")',true)"><i class="fa fa-plus"></i>&nbsp;Add</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="card-title">Announce</h5>
            </div>
            <div class="card-body">
                <div class="row" id="datalist">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Topic</h5>
            </div>
            <div class="card-body">
                <div class="row" id="datalist2">
                </div>
            </div>
        </div>
    </div>
</div>