@model E2E.Models.Views.clsTopic


@{
    Layout = null;
}

@if (Model.TopicGalleries.Count > 0)
{
    <table class="table table-bordered table-hover table-striped nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Galleries")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var img in Model.TopicGalleries)
            {
                <tr>
                    <td>
                        <button type="button" class="btn text-danger mr-auto" onclick="deleteFiles('@Url.Action("DeleteGallery","Topics",new { id=Html.ValueFor(m => img.TopicGallery_Id)})','@Url.Action("ReloadModel","Topics",new { id=img.Topic_Id})')"><i class="fa fa-trash-o"></i></button>
                        <a href="@img.TopicGallery_Original" target="_blank">
                            <img alt="@img.TopicGallery_Name" src="@img.TopicGallery_Original" height="100" width="200" />
                        </a>
                        <!-- other images... -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.TopicFiles.Count > 0)
{
    <table class="table table-bordered table-hover table-striped nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Files")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var files in Model.TopicFiles)
            {
                <tr>
                    <td>
                        <button type="button" class="btn text-danger mr-auto" onclick="deleteFiles('@Url.Action("DeleteFiles","Topics",new { id=Html.ValueFor(m => files.TopicFile_Id) })','@Url.Action("ReloadModel","Topics",new { id=files.Topic_Id})')"><i class="fa fa-trash-o"></i></button>
                        <a href="@files.TopicFile_Path" target="_blank">@files.TopicFile_Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}